<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Pedidos</title>
</head>
<body>
  <h1 layout:fragment="titulo">Cadastro de Pedidos </h1>
  <div layout:fragment="botao">
    <a class="btn btn-primary" th:href="@{/pedidos/cadastrar}" role="button">
      <i class="fas fa-plus"></i>
      Novo
    </a>
  </div>

  <section layout:fragment="conteudo">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>#</th>
          <th>Data Pedido</th>
         
          <th class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="pedido : ${listaPedidos}">
          <td th:text="${pedido.id}"></td>
          <td th:text="${pedido.dataPedido}"></td>
         
         
          <td class="text-center">
            <a class="btn btn-sm" th:href="@{/pedidos/formulario(id=${pedido.id})}">
              <i class="fas fa-edit"></i>
            </a>
            <a class="btn btn-sm" data-toggle="modal" data-target="#modal-delete" th:attr="data-id=${pedido.id}, data-url=@{/pedidos/remover/}">
              <i class="fas fa-trash-alt"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <div th:replace="~{fragments/_modal-delete}"></div>

  </section>

</body>
</html>