<meta charset="utf-8">
<!-- Brand Logo -->
<span class="brand-link brand-text font-weight-light">MINHA LOJA
</span>

<!-- Sidebar -->
<div class="sidebar">
	<!-- Sidebar Menu -->
	<nav class="mt-2">
		<ul class="nav nav-pills nav-sidebar flex-column"
			data-widget="treeview" role="menu" data-accordion="false">
			<!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->
			<li class="nav-item"><a th:href="@{/}" class="nav-link"> <i
					class="nav-icon fas fa-tachometer-alt"></i>
					<p>Início</p>
			</a></li>
			<li class="nav-item"><a th:href="@{/pessoas}" class="nav-link">
					<i class="nav-icon fas fa-user"></i>
					<p>Pessoas</p>
			</a></li>
			<li class="nav-item"><a th:href="@{/produtos}" class="nav-link">
					<i class="nav-icon fas fa-boxes"></i>
					<p>Produtos</p>
			</a></li>
			<li class="nav-item"><a th:href="@{/pedidos}" class="nav-link">
					<i class="nav-icon fas fa-shopping-cart"></i>
					<p>Pedidos</p>
			</a></li>

		</ul>
		</li>
		</ul>
	</nav>
	<!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->